@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #255d74;
  --color-primary: #255d74;
  --color-secondary: #ff4d30;
  --color-accent: #e0f2f1;
  --font-comfortaa: "Comfortaa", sans-serif;
}

:root {
  --background: var(--color-background);
  --foreground: var(--color-foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-comfortaa);
}